@charset "UTF-8";

/*
	Copyright © 2014-2020 Daniel Aleksandersen and others.

	Permission is hereby granted, free of charge, to any
	person obtaining a copy of this software and associated
	documentation files (the "Software"), to deal in the
	Software without restriction, including without limitation
	the rights to use, copy, modify, merge, publish,
	distribute, sublicense, and/or sell copies of the
	Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice
	shall be included in all copies or substantial portions of
	the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY
	KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
	WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
	PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
	OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
	OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
	OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
	SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

:root {
  --grey0: #f5f5f5;
  --grey1: #eeeeee;
  --grey2: #aaaaaa;
  --grey4: #888888;
  --grey8: #555555;
  --orange0: #e9996b;
  --orange1: #e9864c;
  --orange2: #eb7531;
}

body {
  color: var(--grey8);
  background: var(--grey0);
  font-family: "思源黑体", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

#container {
  word-break: break-word;
}
/* 头部 */
#header {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "title nav"
    "title search";
  justify-items: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background: var(--grey0);
}

#header > h1 {
  grid-area: title;
}
#header > nav {
  grid-area: nav;
}
#header > .searchform {
  grid-area: search;
}

#menu ul,
.postpromonav .tags,
.pager,
#toptranslations ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: baseline;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

#menu ul li a,
.postpromonav .tags li a,
.pager li a,
#toptranslations ul li a {
  display: inline-block;
  padding: 0.3em;
  text-decoration: none;
  color: var(--grey8);
}
#menu ul li a:hover,
.postpromonav .tags li a:hover,
.pager li a:hover,
#toptranslations ul li a:hover {
  background: var(--grey1);
}

/* 页脚 */
#footer {
  height: 30px;
  width: 100%;
  background: var(--grey0);
  text-align: center;
}

#toptranslations ul {
  display: inline;
}

#menu ul li,
#toptranslations ul li {
  display: inline-block;
  margin-right: 1.5em;
}

#toptranslations h2 {
  display: inline;
  font-size: 1em;
  margin-right: 1.5em;
}

#menu ul li:dir(rtl),
#toptranslations ul li:dir(rtl),
#toptranslations h2:dir(rtl) {
  margin-left: 1.5em;
  margin-right: 0;
}

#toptranslations {
  text-align: right;
  float: right;
}

#toptranslations:dir(rtl) {
  text-align: left;
  float: left;
}

.posttranslations h3,
.translationslist h3 {
  display: inline;
  font-size: 1em;
}

.entry-title {
  font-size: 2em;
}

.posttranslations h3:last-child,
.translationslist h3:last-child {
  display: none;
}

.postindex article {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

/* Tags */
.postpromonav {
  margin-top: 1em;
  padding: 0.5em 0;
}
.postpromonav .tags {
  text-align: center;
}

.postpromonav .tags li:before {
  content: "🏷️";
}

.metadata p:before {
  content: "⚛️️";
}
.postlist .listdate:after,
.translationslist p:before {
  content: "：";
}

.tagindex .postlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.tagindex .postlist li {
  margin: 0.3em;
  padding: 0 0.3em;
}
.postlist li {
  margin-bottom: 0.33em;
}

/* Post and archive pagers */
.postindexpager .pager .next:before {
  content: "↓ ";
}
.postindexpager .pager .previous:before,
.archivenav .pager .up:before {
  content: "↑ ";
}
.postpromonav .pager .next:after,
.archivenav .pager .next:after {
  content: " →";
}
.postpromonav .pager .previous:dir(rtl):after,
.archivenav .pager .previous:dir(rtl):after {
  content: " →";
}
.postpromonav .pager .previous:before,
.archivenav .pager .previous:before {
  content: "← ";
}
.postpromonav .pager .next:dir(rtl):before,
.archivenav .pager .next:dir(rtl):before {
  content: "← ";
}

.postpromonav .pager {
  clear: both;
  height: 1em;
}
.postpromonav .tags li,
.postpromonav .pager li,
.archivenav .pager li {
  display: inline-block;
}
.archivenav .pager {
  text-align: center;
}
.postpromonav .pager .next,
.archivenav .pager .next {
  float: right;
}
.postpromonav .pager .next:dir(rtl),
.archivenav .pager .next:dir(rtl) {
  float: left;
}

.postpromonav .pager .previous,
.archivenav .pager .previous {
  float: left;
}
.postpromonav .pager .previous:dir(rtl),
.archivenav .pager .previous:dir(rtl) {
  float: right;
}

.archivenav .pager .disabled,
.archivenav .pager .disabled a,
.archivenav .pager .disabled:link {
  color: #888;
  cursor: not-allowed;
}

.metadata p,
.translationslist p {
  display: inline;
}

#brand {
  font-size: 3em;
  line-height: 1;
}

/* Links */
:link {
  color: var(--orange1);
  text-decoration: none;
}
:visited {
  color: var(--orange0);
}
:link:hover,
:visited:hover {
  color: var(--orange2);
}

#brand :link,
#brand :visited {
  color: inherit;
}

/* Images */
img {
  border: none;
  line-height: 1;
}

.postpage img,
.postpage object,
.postindex article img,
.postindex article object {
  height: auto;
  max-width: 100%;
}

/* Comment helpers */
#disqus_thread {
  min-height: 325px;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
}

.breadcrumb > li {
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
}

.breadcrumb > li:after {
  content: " / ";
  color: #888;
}

.breadcrumb > li:last-of-type:after {
  content: "";
  margin-left: 0;
}

.thumbnails {
  list-style: none;
  padding: 0;
}

.thumbnails > li {
  display: inline-block;
  margin-right: 10px;
}

.thumbnails > li:last-of-type {
  margin-right: 0;
}

.codetable .linenos {
  padding-right: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* 主要内容 */
#content {
  max-width: 900px;
  margin: auto;
}

article {
  padding: 30px;
  background: white;
  box-shadow: 1px 1px 3px 3px var(--grey1);
}

pre.code,
code {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

/* SOURCE: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
    font-family: Garamond, Junicode, serif;
  }

  body {
    font-size: 12pt;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

  a[href^="#"]:after,
  a[href^="data:"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .hidden-print {
    display: none !important;
  }

  article .entry-title a[href]:after,
  article .metadata a[href]:after,
  article .tags a[href]:after {
    content: "";
  }

  article .metadata .sourceline {
    display: none;
  }

  article .metadata .linkline a[href]:after {
    content: " (" attr(href) ")";
  }

  #header {
    display: none;
  }

  .postpromonav {
    padding: 0;
  }
}

/* 页面内容 */
.figure {
  display: block;
  text-align: center;
}
.figure img {
  border: 1px solid var(--grey2);
  padding: 1px;
  margin: 5px;
}
code.docutils.literal {
  color: #e94f69;
}
.post-text .code {
  padding: 1em;
}

dl dt {
  color: black;
  text-decoration: underline dotted;
}

/* Animations */
.admonition-title,
.sidebar-title {
  margin: 0;
}
